
.homeTitleContainer {
  background: {
    color : #6C7A89;;
  }
  
  .reactMaterialImg {
    color: #000;
    height: 310px;
    width:310px;
    background: url('https://raw.githubusercontent.com/MacKentoch/reactMaterialQuizz/master/public/img/reactjs.png') center / cover;
  }
  
  .titleText {
   color : #61DAFB; 
  }
  
}


